{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block object-tools %}
<div class="object-tools">
    {# Delete All Button - Global for all ai_models #}
    {% if show_delete_all %}
    <form action="{% url 'admin:ai_models_delete_all' opts.app_label opts.model_name %}" method="POST" style="display: inline; margin-right: 10px">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete All' %}"
               class="deletelink"
               onclick="return confirm('{% blocktrans with name=opts.verbose_name_plural %}Permanently delete ALL {{ name }}?{% endblocktrans %}')">
    </form>
    {% endif %}

    {# CSV Upload Form - Specific to Transaction model #}
    {% if opts.model_name == 'transaction' %}
    <form method="post" enctype="multipart/form-data" style="display: inline; margin-right: 10px">
        {% csrf_token %}
        <div style="display: inline-block; vertical-align: middle">
            <input type="file" name="file" accept=".xls, .xlsx" style="padding: 3px">
            <button type="submit" class="button" style="padding: 5px 10px; margin-left: 5px">
                <span class="icon-upload"></span>
                {% trans "Upload Excel" %}
            </button>
        </div>
    </form>
    {% endif %}

    {{ block.super }}  {# Preserve default Add button #}
</div>
{% endblock %}