{% extends "base.html" %}
{% block title %}Products{% endblock title %}

{% block content %}
  <h2>Our Products</h2>
    <div class="product-grid">
    {% for product in products %}
        <div class="product-card" data-product-name="{{ product.product_name }}">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.product_description }}</p>
            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.product_name }}" >
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productCards = document.querySelectorAll('.product-card');

        productCards.forEach(function(card) {
            card.addEventListener('click', function() {
                var productName = this.getAttribute('data-product-name');
                if (productName === 'Sale Forecast') {
                    window.location.href = '/models/top-30-sale-forecast/';
                }
                if (productName === 'BuyerInsight') {
                    window.location.href = '/models/future_sale/';
                }
                if (productName === 'Cold Start Prediction') {
                    window.location.href = '/models/customer-recommendations/';
                }
            });
        });
    });
</script>
{% endblock content %}
