{% extends "base.html" %}
{% block title %}Products{% endblock title %}

{% block content %}

    <div class="product-grid">
    {% for product in products %}
        <div class="product-card" data-product-name="{{ product.product_name }}">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.product_description }}</p>
            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.product_name }}" >
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productCards = document.querySelectorAll('.product-card');

        productCards.forEach(function(card) {
            card.addEventListener('click', function() {
                var productName = this.getAttribute('data-product-name')
                .replace(/\s+/g, ' ') // Replace multiple spaces with one
                .trim()               // Remove leading/trailing spaces
                .toLowerCase();       // Convert to lowercase

            console.log('Clicked product:', productName);
            });
        });
    });
</script>
{% endblock content %}
